@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Fjord+One');

$color-header: #000000;
$color-footer: #aaaaaa;
$color-text:   #3f3f3f;
$color-title:  #74ab2e;

@mixin title {
  color: $color-title;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

@mixin time {
  display: block;
  line-height: 32px;
  font-size: 11px;
  color: $color-footer;
}

body {
  background-color: #fff;
  color: $color-text;
  font-family: 'Fjord One', serif;
  font-size: 20px;
  line-height: 1.5;
}

code {
  color: lighten( #b58900, 8% );
}

.container {
  max-width: 790px;

  .row {
    .col {
      a {
        color: darken( $color-title, 5% );
        text-decoration: none;

        text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid lighten( $color-title, 40% );

        &:hover, &:focus {
          border-bottom: 0px;
        }
      }

      h1, h2, h3 {
        @include title;
        line-height: 28px;
      }
      h3 {
        font-size: 20px;
      }

      ol {
        list-style-type: decimal;
      }
      ul {
        list-style-type: disc;
      }
      ol li, ul li {
        margin: 10px 10px 10px 30px;
      }
      img {
        // max-width: 600px;
        display: block;
        margin: 20px auto 20px auto;
      }

      > header {
        height: 64px;
        border-bottom: 1px solid silver;
        margin-bottom: 30px;
        a {
          color: $color-header;
          line-height: 64px;
          font-size: 18px;
          border-bottom: 0px;
        }
      }

      // Main
      > div {
        article {
          padding-bottom: 60px;
          header {
            a {
              @include title;
            }
            time {
              @include time;
            }
          }
          footer {
            a {
              font-size: 14px;
            }
            line-height: 32px;
          }
        }
      }

      // Post
      > article {
        .tags > a {
          color: lighten( $color-title, 20% );
          font-size: 14px;
          border-bottom: 1px solid lighten( $color-title, 30% );
        }
        time {
          @include time;
        }
        p {
          padding-bottom: 10px;
        }
        .share {
          padding-top: 50px;
          text-align: center;
        }
      }

      > footer {
        color: $color-footer;
        font-size: 11px;
        line-height: 64px;
        text-align: center;
      }
    }
  }
}

.yandex_metrika {
  display: none;
  text-align: center;
  a {
    text-decoration: none;
    border: 0;
  }
}
