<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "CV" %>
    </title>
    <meta charset="utf-8"/>
    <%= stylesheet_link_tag "application", "cv" %>
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
    <%- if !development? -%>
    <div class="yandex_metrika">
      <%= partial "yandex_metrika" %>
    </div>
    <%- end -%>
  </body>
</html>
