@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  background-color: #fff;
  color: #3f3f3f;
  font-family: 'Raleway', serif;
  font-size: 20px;
  line-height: 1.5; }

code {
  color: #dea800; }

.container {
  max-width: 790px; }
  .container .row .col a {
    color: #669729;
    text-decoration: none;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #d6ecb9; }
    .container .row .col a:hover, .container .row .col a:focus {
      border-bottom: 0px; }
  .container .row .col h1, .container .row .col h2, .container .row .col h3 {
    color: #74ab2e;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 28px; }
  .container .row .col h3 {
    font-size: 20px; }
  .container .row .col ol {
    list-style-type: decimal; }
  .container .row .col ul {
    list-style-type: disc; }
  .container .row .col ol li, .container .row .col ul li {
    margin: 10px 10px 10px 30px; }
  .container .row .col img {
    display: block;
    margin: 20px auto 20px auto; }
  .container .row .col > header {
    height: 64px;
    border-bottom: 1px solid silver;
    margin-bottom: 30px; }
    .container .row .col > header a {
      color: #000000;
      line-height: 64px;
      font-size: 18px;
      border-bottom: 0px; }
  .container .row .col > div article {
    padding-bottom: 60px; }
    .container .row .col > div article header a {
      color: #74ab2e;
      font-weight: bold;
      font-size: 24px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
    .container .row .col > div article header time {
      display: block;
      line-height: 32px;
      font-size: 11px;
      color: #aaaaaa; }
    .container .row .col > div article footer {
      line-height: 32px; }
      .container .row .col > div article footer a {
        font-size: 14px; }
  .container .row .col > article .tags > a {
    color: #a6d768;
    font-size: 14px;
    border-bottom: 1px solid #bee191; }
  .container .row .col > article time {
    display: block;
    line-height: 32px;
    font-size: 11px;
    color: #aaaaaa; }
  .container .row .col > article p {
    padding-bottom: 10px; }
  .container .row .col > article .share {
    padding-top: 50px;
    text-align: center; }
  .container .row .col > footer {
    color: #aaaaaa;
    font-size: 11px;
    line-height: 64px;
    text-align: center; }

.yandex_metrika {
  display: none;
  text-align: center; }
  .yandex_metrika a {
    text-decoration: none;
    border: 0; }
