/* line 1, cv.css.scss */
body {
  margin: 40px 0; }

/* line 5, cv.css.scss */
h3 {
  line-height: 40px; }

/* line 9, cv.css.scss */
p {
  padding-bottom: 15px; }

/* line 13, cv.css.scss */
ul {
  padding-bottom: 15px; }
