<div>
  <h4>Dmitry Vorotilin</h4>
  <h4>Software Engineer</h4>
  <div>
    <i class="bi bi-github"></i>
    <a href="https://github.com/route">route</a>
  </div>
  <div>
    <i class="bi bi-linkedin"></i>
    <a href="https://www.linkedin.com/in/dvorotilin/">dvorotilin</a>
  </div>
  <div>
    <i class="bi bi-telegram"></i>
    <a href="https://t.me/rO_Oute">rO_Oute</a>
  </div>
  <div>
    <i class="bi bi-envelope-fill"></i>
    <a href="mailto: d.vorotilin@gmail.com">d.vorotilin@gmail.com</a>
  </div>
  <div>
    <i class="bi bi-geo-alt-fill"></i>
    Remote, Worldwide
  </div>
  <h5 class="pt-3">
    Software engineer with over 15 years of experience in web development, backend and devops.
  </h5>
</div>
<div>
  <h3>Skills</h3>
  <div>
    <h4>Languages</h4>
    <h5>Ruby</h5>
    <h5>Go</h5>
    <h5>Javascript/Typescript</h5>
  </div>
  <div>
    <h4>Frameworks</h4>
    <h5>Rails</h5>
    <h5>Rack</h5>
    <h5>Sinatra</h5>
    <h5>Gin</h5>
    <h5>Fiber</h5>
  </div>
  <div>
    <h4>Databases</h4>
    <h5>MySQL</h5>
    <h5>PostgreSQL</h5>
    <h5>Redis</h5>
  </div>
  <div>
    <h4>Brokers</h4>
    <h5>RabbitMQ</h5>
    <h5>Kafka</h5>
  </div>
  <div>
    <h4>Devops</h4>
    <h5>Ansible</h5>
    <h5>Terraform</h5>
    <h5>Kubernetes</h5>
    <h5>AWS</h5>
    <h5>DigitalOcean</h5>
  </div>
</div>
