- blog.articles[0..5].each do |article|
  %article
    %header
      %a{href: article.url}= article.title
      %time= article.date.strftime('%B %e, %Y')
    %p= article.summary
    %footer
      %a{href: article.url} Read more
