<% if paginate %>
    <p class="pagination">
      <% if prev_page %>
        <%= link_to 'Prev', prev_page %>
        |
      <% end %>
      Page <%= page_number %> of <%= num_pages %>
      <% if next_page %>
        |
        <%= link_to 'Next', next_page %>
      <% end %>
    </p>
<% end %>
