---
pageable: true
per_page: 12
---
<h1>Posts tagged '<%= tagname %>'</h1>

<ul>
  <% page_articles.each do |article| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<%= partial "paginate" %>
